//colors
$red: rgba(208, 56, 75, 1);
$black: rgba(61, 61, 61, 1);
$yellow: rgba(255, 189, 22, 1);
$brown: rgba(124, 67, 65, 1);



//font-size
$font-size-base: 21px;
$font-size-16: 16px;
$navbar-brand: 26px;
$navbar-inside: 21px;
$hero-section: 64px;
$next-sources-header: 32px;
$next-sources-block-link: 21px;
$next-sources-block-btn: 18px;

//font-family
$font-family-base: 'Oswald', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;

